<h2 align = "center" style = "color: #222222">位置</h2>
<div id="map" align = "center"></div>
<script>
    // 使用浏览器的地理位置 API 获取位置信息
    navigator.geolocation.getCurrentPosition(position => {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        // 在页面上显示地图
        const mapDiv = document.getElementById('map');
        mapDiv.innerHTML = `<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.bing.com/maps?q=${latitude},${longitude}&output=embed"></iframe>`;
    });
</script>
<br>
